
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh; 
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: flex-start;
    display: block;
    justify-content: center;
}
.flex-middle {
	/*align-items: center;*/
    display: block;
    justify-content: space-between;
}
.box {
	display: inline-block;
}
.box li{
	padding: 0.5em;
	font-size: 1.25em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 3em;
}

tr:nth-child(even){background-color: #f2f2f2}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}
.titleholder {
   	text-align: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
